<div class="center hero-unit" id = "div2">
	<center>
		<h1>
		Welcome to the Sample App
		</h1>
	</center>

	<center>
		<p>
		This is the home page for the
			<a>Ruby on Rails Tutorial</a>
		sample application.
		</p>
	</center>

	<center>
		<button stype="button">
			<p>
			Sign up Now!!
			</p>
		</button>
	</center>

</div>
<div id="div3">
	<table width="100%" border="0">
	  <tr valign="top">
	    <td width="74%">
	        <%= link_to "Ruby on Rails Tutorial", '#' %>
	    </td>
	    <td width="8%">
	        <%= link_to "About", '#' %>
	    </td>
	    <td width="8%">
	    	<%= link_to "Contact", '#' %>  
	    </td>
	    <td width="10%">
	    	<%= link_to "News", '#' %>  
	    </td>
	   </tr>
	<table>
</div>
<body width="10px" height="10px">
	<%= link_to image_tag("ruby.jpg", height: '32', width: '32'), 'http://rubyonrails.org/' %>
</body>